.header{
    background-color: #BFA2DB;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    letter-spacing: 1px ;
    text-align: center;
    padding: 12px 12px 12px 12px;
    margin: 4px 4px 4px 4px;
    .nav-color{
        background-color: #F0D9FF
    }
}

.item-li {
    @extend %font-size-navbar;
}