.tabla{
    background-color: #ecdfdb;
    font-family: 'Roboto', sans-serif;
    color: black;
    font-size: 15px;
    letter-spacing: 1px ;
    text-align: center;
    padding: 12px 12px 12px 12px;
    margin: 4px 4px 4px 4px;
}
.tituloTabla{
    background-color:#ecdfdb;
    font-family: 'Roboto', sans-serif;
    color: black;
    font-size: 16px;
    letter-spacing: 2px;
    text-align: center;
    padding: 12px 12px 12px 12px;
    margin: 4px 4px 4px 4px;
}